.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.order-count-style {
  width: 22px;
  height: 22px;
  color: #fff;
  font-size: 14px;
  background-color: #c2185b;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  position: relative;
}
.bg-for-header {
  background-color: #000;
}
.menu-icon {
  min-width: 15px;
  padding: 10px;
}
.header-site-1 {
  padding: 14px 0 10px 0;
}
.header-site-1 .title-bar-title {
  margin: 0 auto;
}
.header-site-1 .title-bar-title .site-logo img {
  text-align: center;
  max-width: 100%;
  height: auto;
}
.header-site-1 #example-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-site-1 .site-navigation-1 ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-site-1 .site-navigation-1 ul li {
  list-style: none;
  padding: 4px 0;
}
.header-site-1 .site-navigation-1 ul li:nth-child(even) {
  border-left: solid #2f2f2f 1px;
  border-right: solid #2f2f2f 1px;
}
.header-site-1 .site-navigation-1 ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 20px 0 20px;
}
.header-site-1 .site-navigation-1 ul li a:hover {
  color: #c2185b;
}
.header-site-1 .search-header-1 {
  flex-grow: 0.6;
  margin-right: -50px;
}
.header-site-1 .search-header-1 .wrapper-form-search-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-site-1 .search-header-1 .wrapper-form-search-1 input[type="search"] {
  height: 17px;
  min-width: 115px;
  background-color: transparent;
  border: none;
  border-bottom: solid #2f2f2f 1px;
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  padding: 0;
}
.header-site-1 .search-header-1 .wrapper-form-search-1 input[type="search"]:focus {
  box-shadow: none;
}
.header-site-1 .search-header-1 .wrapper-form-search-1 button[type="submit"] {
  height: 17px;
  width: 20px;
  background: url("../css/bg-img/search-icon.png") no-repeat center;
  margin-left: 5px;
  margin-top: -2px;
}
.header-site-1 .search-header-1 .wrapper-form-search-1 button[type="submit"]:hover {
  cursor: pointer;
}
.header-site-1 .search-header-1 .wrapper-form-search-1 button[type="submit"]:focus {
  outline: none;
}
.header-site-1 .user-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-site-1 .user-1 .user-photo-1 {
  background: url("../css/bg-img/photo-user.png") no-repeat center;
  width: 22px;
  height: 22px;
  margin-right: 12px;
}
.header-site-1 .user-1 .user-photo-1:hover {
  cursor: pointer;
}
.header-site-1 .user-1 .user-log-in-1 {
  text-decoration: none;
  color: #fff;
}
.header-site-1 .user-1 .user-log-in-1:hover {
  color: #c2185b;
}
hr {
  margin: 0;
  max-width: none;
  border-color: #2f2f2f;
}
.wrapper-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.wrapper-logo .wrapper-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper-logo .wrapper-phone a {
  text-decoration: none;
  color: #fff;
}
.wrapper-logo .order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper-logo .order .user-like {
  background: url("../css/bg-img/like.png") no-repeat center;
  width: 33px;
  height: 30px;
  margin: 4px 65px 0 0;
}
.wrapper-logo .order .user-like .like-count {
  width: 22px;
  height: 22px;
  color: #fff;
  font-size: 14px;
  background-color: #c2185b;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  position: relative;
  top: -7px;
  right: -23px;
}
.wrapper-logo .order .user-basket {
  background: url("../css/bg-img/bag.png") no-repeat center;
  width: 33px;
  height: 34px;
}
.wrapper-logo .order .user-basket .order-count-wrap .order-count {
  width: 22px;
  height: 22px;
  color: #fff;
  font-size: 14px;
  background-color: #c2185b;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  position: relative;
  top: -3px;
  right: -23px;
}
.wrapper-help-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.wrapper-help-head .feedback button {
  margin-top: 8px;
  width: 165px;
  height: 34px;
  color: #fff;
  background-color: transparent;
  border: solid 1px #c2185b;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}
.wrapper-help-head .wrapper-work-to {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 16px;
  line-height: 24px;
}
.menu-site {
  padding: 10px 0;
}
.menu-site ul {
  color: #fff;
}
.menu-site ul .is-dropdown-submenu-parent a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.menu-site ul .is-dropdown-submenu-parent a,
.menu-site ul .is-active a,
.menu-site ul .opens-right a {
  color: #fff;
}
.menu-site ul .is-dropdown-submenu-parent a:hover,
.menu-site ul .is-active a:hover,
.menu-site ul .opens-right a:hover {
  color: #c2185b;
}
.menu-site ul .is-dropdown-submenu-parent a:active,
.menu-site ul .is-active a:active,
.menu-site ul .opens-right a:active {
  color: #c2185b;
}
.menu-site ul .is-dropdown-submenu-parent .vertical,
.menu-site ul .is-active .vertical,
.menu-site ul .opens-right .vertical,
.menu-site ul .is-dropdown-submenu-parent .menu,
.menu-site ul .is-active .menu,
.menu-site ul .opens-right .menu,
.menu-site ul .is-dropdown-submenu-parent .submenu,
.menu-site ul .is-active .submenu,
.menu-site ul .opens-right .submenu,
.menu-site ul .is-dropdown-submenu-parent .is-dropdown-submenu,
.menu-site ul .is-active .is-dropdown-submenu,
.menu-site ul .opens-right .is-dropdown-submenu,
.menu-site ul .is-dropdown-submenu-parent .js-dropdown-active,
.menu-site ul .is-active .js-dropdown-active,
.menu-site ul .opens-right .js-dropdown-active {
  background-color: #000;
}
.menu-site ul li a {
  text-transform: uppercase;
  color: #fff;
}
.menu-site ul li a:hover {
  color: #c2185b;
}
.dropdown.menu .is-active > a {
  color: #c2185b;
}
.drilldown a,
.drilldown .is-drilldown-submenu {
  background-color: #000;
}
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-color: transparent;
}
.dropdown.menu.vertical > li.opens-right > a::after {
  background: url("../css/bg-img/dropdown-icon.png") no-repeat center;
  height: 12px;
  width: 12px;
  padding-left: 10px;
  position: relative;
  top: -15px;
  right: -100%;
}
.drilldown .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #c2185b;
}
.drilldown .js-drilldown-back > a::before {
  border-color: transparent #c2185b transparent transparent;
}
